apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: node-backend
spec:
  serviceName: "node-service"
  replicas: 3
  selector:
    matchLabels:
      app: node-backend
  template:
    metadata:
      labels:
        app: node-backend
    spec:
      containers:
      - name: node
        image: loadbalancer-node:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 3000
        - containerPort: 9876
        env:
        - name: PORT
          value: "3000"
        - name: FIX_PORT
          value: "9876"
---
apiVersion: v1
kind: Service
metadata:
  name: node-service
spec:
  selector:
    app: node-backend
  clusterIP: None # Headless service for stable DNS entries
  ports:
    - name: http
      protocol: TCP
      port: 3000
      targetPort: 3000
    - name: fix
      protocol: TCP
      port: 9876
      targetPort: 9876
